<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Welcome!</title>
</head>
<body>
    <header>
        <h1>Welcome {{ session["first_name"] }}!</h1>
        <div class="header_links">
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
    <h3>{{ recipe.name }}</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Under 30 minutes?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Description:</th>
                <td>{{recipe.description}}</td>
            </tr>
            <tr>
                <th>Under 30 minutes:</th>
                <td>{{recipe.under_thirty}}</td>
            </tr>
            <tr>
                <th>Instructions</th>
                <td>{{recipe.instructions}}</td>
            </tr>
            <tr>
                <th>Date Made</th>
                <td>{{recipe.created_at}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>